<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css?ver=1.2.0" rel="stylesheet">
    <title>HNGi8 Porfolio</title>
</head>
<body class="container">
    <div class="text-center" style="margin-top: 1rem;">
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="/" role="button">Continue to Resume</a>
        </p>
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Message</th>
          </tr>
        </thead>
        <tbody>
            <% for(var i = 0; i < users.length; i++){ %>
                <tr>
                    <th scope="row"><%= i + 1%></th>
                    <td><%= users[i].name%></td>
                    <td><%= users[i].email%></td>
                    <td><%= users[i].message%></td>
                </tr>
            <%}%>
        </tbody>
      </table>
</body>
</html>